.panel {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: backdiv;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.heart {
  width: 200px;
  height: 200px;
  position: absolute;
  background: pink;
  transform: rotate(45deg);
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* 伪类创建 */
.heart::before {
  content: '';
  width: 200px;
  height: 200px;
  background: pink;
  border-radius: 50%;
  position: absolute;
  /* 定位 */
  transform: translateX(-200px);
}
.heart::after {
  content: '';
  width: 200px;
  height: 200px;
  background: pink;
  border-radius: 50%;
  position: absolute;
  /* 定位 */
  transform: translate(-100px, -100px);
  /* transform: translateX(-100px); */
}
@keyframes change {
  0% {
    transform: rotate(45deg) scale(0.5);
  }
  50% {
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    transform: rotate(45deg) scale(0.5);
  }
}
@keyframes backdiv {
  50% {
    background: #ffe6f2;
  }
}
