.panel {
  width: 100vw;
  height: 100vh;
  background: #ffa5a5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.chest {
  width: 210px;
  height: 210px;
  margin: 0 auto;
  position: relative;
}

.heart {
  position: absolute;
  z-index: 2;
  background: linear-gradient(-90deg, #f50a45 0%, #d5093c 40%);
  animation: beat 0.7s ease 0s infinite normal;
}

.heart.center {
  background: linear-gradient(-45deg, #b80734 0%, #d5093c 40%);
}

.heart.top {
  z-index: 3;
}

.side {
  top: -65px;
  width: 198px;
  height: 198px;
  border-radius: 99px;
}

.center {
  width: 189px;
  height: 189px;
  bottom: 15px;
  left: 10.5px;
  transform: rotateZ(225deg);
}

.left {
  left: 66px;
}

.right {
  right: 66px;
  z-index: 3;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(225deg);
    box-shadow: 0 0 40px #d5093c;
  }

  50% {
    transform: scale(1.1) rotate(225deg);
    box-shadow: 0 0 70px #d5093c;
  }
  100% {
    transform: scale(1) rotate(225deg);
    box-shadow: 0 0 40px #d5093c;
  }
}
